%h3
  Inventory
- @adverts.each do |advert|
  %h4
    = advert.title
  %p
    Description:
    = advert.description
  %p
    Price:
    = advert.price
  %p
    Size
    = advert.size
  %i.fa.fa-user-profile
